body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

$containerWidth: 1440px;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: $containerWidth;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.main-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #ffffff;
  width: 419px;
}

.main-subTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  width: 511px;
  margin-top: 10px;
}

.header {
  width: 100%;
  background: url('../public/assets/img/background.png') no-repeat center center;
  height: 793px;
  background-size: cover;
  position: relative;
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 154px;
    height: 48px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 37px;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    background: none;
    color: #ffffff;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  .orange--button {
    background: #ff7b47;
    width: 185px;
    border: none;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    padding: 36px 60px 116px 105px;
    align-items: center;

    .logo {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
    }

    .navigation {
      display: flex;
      gap: 21px;
      margin-left: 560px;

      .navigation-item {
        color: white;
        opacity: 0.8;
        cursor: pointer;
        position: relative;
        line-height: 24px;
        font-weight: 600;

        &:after {
          content: '';
          height: 1px;
          background: white;
          bottom: 0;

          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;
          width: 0;
          transition: all 0.3s ease;
        }

        &:hover {
          opacity: 1;

          &:after {
            width: 80%;
            transition: all 0.3s ease;
          }
        }
      }
    }

    .icons-items {
      gap: 22px;
      display: flex;
    }

    .searchPic {
      background-color: none;
    }
  }

  .header__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 509px;
    height: 418px;
    margin-left: 197px;

    .header__title {
      font-weight: 800;
      font-size: 58px;
      line-height: 80px;
      letter-spacing: 0.2px;
    }

    .header__subTitle {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.2px;
      width: 345px;
    }

    .header__button {
      display: flex;
      // width: 185px;
      height: 48px;
      gap: 10px;
    }
  }
}

.blue {
  background-color: #252b42;
  height: 131px;

  .cards-items {
    display: flex;
    margin-left: 197px;
    margin-top: -111px;
    position: absolute;
    gap: 30px;

    .card-item {
      background-color: white;
      justify-content: space-between;
      width: 328px;
      height: 242px;
      padding: 37px 62px 35px 40px;

      .title {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
        color: #252b42;
      }

      .subTitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #737373;
      }
    }

    .blue--card {
      background-color: #0d5c63;

      .title,
      .subTitle {
        color: #ffffff;
      }
    }
  }
}

.client-matters {
  height: 526px;
  background-color: #252b42;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 90px;

  .cards-matters {
    display: flex;
    margin-top: 50px;
    gap: 38px;

    .card {
      width: 230px;
      height: 209px;
      padding: 30px 35px;
      background: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      font-weight: 700;

      h2 {
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;
        color: #252b42;
      }

      h5 {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #737373;
      }
    }
  }
}
